 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

@mixin border {
	border: solid 1px black;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
	//@include outer-container;
	width: 600px;
  margin: 50px auto 0 auto;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  height: 800px;
  #price_title {
  	@include span-columns(12);
  	height: 50px;
  	@include border;
  }
  #bid_action {
  	@include span-columns(4);
  	min-height: 50px;
  	@include border;
  }
  #ask_action {
  	@include span-columns(4);
  	min-height: 50px;
  	@include border;
  }
  #last_action {
  	@include span-columns(4);
  	min-height: 50px;
  	@include border;
  }
  .value_color_green {
  	color: green;
  	@include animation(scale 0.5 ease-in, slide 2.0s ease);
  }
  .value_color_red {
  	color: red;
  }
  .value_feed_size {
  	
  }
}
